# Imports

In [189]:
import os
import pandas as pd
import librosa
import numpy as np
import scipy.io.wavfile, scipy.signal
from scipy.spatial import distance

# Locations

In [46]:
audio_loc='./resources/dataset/Audio/'
annotation_loc='./resources/dataset/Annotations/processed/'
lookup_loc='./resources/dataset/lookup.csv'
output_loc = './resources/dataset/Annotations/final/'

In [11]:
lut=pd.read_csv(lookup_loc)
"""
with pd.option_context('display.max_rows', None, 'display.max_columns', None):
    display(lut)
"""

"\nwith pd.option_context('display.max_rows', None, 'display.max_columns', None):\n    display(lut)\n"

In [17]:
for file_name in os.listdir(audio_loc):
    if file_name.endswith(".wav"):
        name=file_name[:-4]
        print(audio_loc+file_name)
        annotation=pd.read_csv(annotation_loc+name+'.csv')
        x,sr=librosa.load(audio_loc+file_name, sr=None)
        print(f"The sample rate is {sr}")
        mfcc=librosa.feature.mfcc(x,sr)
        print(mfcc.shape)
        display(annotation)
        break

./resources/dataset/Audio/BNyYiTdqzAY.wav
The sample rate is 48000
(20, 64956)

    sample_start  sample_end scream_type_start     video_id
0        8149223     8756902           layered  BNyYiTdqzAY
1        8807227     9672062           layered  BNyYiTdqzAY
2        9713256     9799779             clean  BNyYiTdqzAY
3        9807757    10222636            midfry  BNyYiTdqzAY
4       10778974    11365493           layered  BNyYiTdqzAY
5       11440761    11896252           layered  BNyYiTdqzAY
6       11904016    12100608             clean  BNyYiTdqzAY
7       17685339    18759966            midfry  BNyYiTdqzAY
8       18766562    18923160           highfry  BNyYiTdqzAY
9       18930251    19100947           layered  BNyYiTdqzAY
10      20242329    20470037            midfry  BNyYiTdqzAY
11      25748077    26380639             clean  BNyYiTdqzAY
12      26405895    26786559             clean  BNyYiTdqzAY
13      26835253    27019415             clean  BNyYiTdqzAY
14      27024488    27305919           layered  BNyYiTdqzAY
15      27332322    27661715            midfry  BNyYiTdqzAY
16      27709143    27875950            midfry  BNyYiTdqzAY
17      27916988    28021753            midfry  BNyYiTdqzAY
18      28083300    28187627            midfry  BNyYiTdqzAY
19      28249698    28544871            midfry  BNyYiTdqzAY
20      29035016    29315863           layered  BNyYiTdqzAY
21      29357877    29639022           layered  BNyYiTdqzAY
22      29678510    30434961           layered  BNyYiTdqzAY
23      30449407    30966012           layered  BNyYiTdqzAY

In [2]:
import pandas as pd
from sklearn import datasets, linear_model
from sklearn.model_selection import train_test_split
from matplotlib import pyplot as plt

In [91]:
df=pd.read_csv('./resources/dataset/Annotations/final/annotation.csv')
df

,file_name,sample_start,sample_end,timestamp_start,timestamp_end,scream_type,video_id
0,4600fGWcn9o.wav,1579017,1999183,35.81,45.33,midfry,4600fGWcn9o
1,4600fGWcn9o.wav,2020012,2152867,45.81,48.82,midfry,4600fGWcn9o
2,4600fGWcn9o.wav,2161887,2486176,49.02,56.38,midfry,4600fGWcn9o
3,4600fGWcn9o.wav,2488192,2795520,56.42,63.39,clean,4600fGWcn9o
4,4600fGWcn9o.wav,2797600,3030794,63.44,68.73,midfry,4600fGWcn9o
...,...,...,...,...,...,...,...
1570,0m5fIHHfJTw.wav,6819456,6915072,154.64,156.80,midfry,0m5fIHHfJTw
1571,0m5fIHHfJTw.wav,7056672,7172928,160.02,162.65,midfry,0m5fIHHfJTw
1572,0m5fIHHfJTw.wav,7264704,7286880,164.73,165.24,midfry,0m5fIHHfJTw
1573,0m5fIHHfJTw.wav,7789376,8205120,176.63,186.06,midfry,0m5fIHHfJTw
1574,0m5fIHHfJTw.wav,8223488,8530272,186.47,193.43,midfry,0m5fIHHfJTw

In [ ]:
df.to_pickle()

# Subsetting the audio files for each annotated section
Takes about 75 minutes

In [107]:
audio_files=[]
video_id=[]
scream_type = []
df['audio'] = ''
for index,row in df.iterrows():
    print(f"row number {index + 1} out of {df.shape[0]}")
    file_name = row['file_name']
    sr,x = scipy.io.wavfile.read('./resources/dataset/Audio/processed/'+file_name)
    #x,sr = librosa.load('./resources/dataset/Audio/processed/'+file_name)

    start = int(row['timestamp_start'] * sr)
    end = int(row['timestamp_end'] * sr)

    
    x_subset = x[start:end]
    x_subset_mono = []
    for x in x_subset:
        x_subset_mono.append(np.mean(x)) # Convert to mono by averaging the L and R files
    x_subset_mono_normalized = x_subset_mono/max(x_subset_mono) #Normalizng audio file
    #df.at[index,'audio'] = x_subset_mono_normalized
    audio_files.append(x_subset_mono_normalized)
    video_id.append(row['video_id'])
    scream_type.append(row['scream_type'])
    """if index == 5:
        break"""
audio_files = np.array(audio_files)
video_id=np.array(video_id)
scream_type=np.array(scream_type)

#print('Creating audio_files.csv')
#np.savetxt('./resources/dataset/Annotations/final/audio_files.csv', audio_files, delimiter=',')
#print('Creating video_id.csv')
#np.savetxt('./resources/dataset/Annotations/final/video_id.csv', video_id, delimiter=',')
#print('Creating scream_type.csv')
#np.savetxt('./resources/dataset/Annotations/final/scream_type.csv', scream_type, delimiter=',')

print('Creating concatenated file')
out=np.stack((audio_files,video_id,scream_type),axis=1)
#np.savetxt('./resources/dataset/Annotations/final/out.csv', out, delimiter=',')
#np.savetxt('./resources/dataset/Annotations/final/out_tab.csv', out, delimiter='\t')
np.save('./resources/dataset/Annotations/final/out.npy', out)

#df.to_csv(output_loc + 'annotation_with_audio_file.csv',header=True, index=False,encoding='utf-8-sig',sep='\t')

row number 1 out of 1575
row number 2 out of 1575
row number 3 out of 1575
row number 4 out of 1575
row number 5 out of 1575
row number 6 out of 1575
row number 7 out of 1575
row number 8 out of 1575
row number 9 out of 1575
row number 10 out of 1575
row number 11 out of 1575
row number 12 out of 1575
row number 13 out of 1575
row number 14 out of 1575
row number 15 out of 1575
row number 16 out of 1575
row number 17 out of 1575
row number 18 out of 1575
row number 19 out of 1575
row number 20 out of 1575
row number 21 out of 1575
row number 22 out of 1575
row number 23 out of 1575
row number 24 out of 1575
row number 25 out of 1575
row number 26 out of 1575
row number 27 out of 1575
row number 28 out of 1575
row number 29 out of 1575
row number 30 out of 1575
row number 31 out of 1575
row number 32 out of 1575
row number 33 out of 1575
row number 34 out of 1575
row number 35 out of 1575
row number 36 out of 1575
row number 37 out of 1575
row number 38 out of 1575
row number 39 out of 1575
row number 40 out of 1575
row number 41 out of 1575
row number 42 out of 1575
row number 43 out of 1575
row number 44 out of 1575
row number 45 out of 1575
row number 46 out of 1575
row number 47 out of 1575
row number 48 out of 1575
row number 49 out of 1575
row number 50 out of 1575
row number 51 out of 1575
row number 52 out of 1575
row number 53 out of 1575
row number 54 out of 1575
row number 55 out of 1575
row number 56 out of 1575
row number 57 out of 1575
row number 58 out of 1575
row number 59 out of 1575
row number 60 out of 1575
row number 61 out of 1575
row number 62 out of 1575
row number 63 out of 1575
row number 64 out of 1575
row number 65 out of 1575
row number 66 out of 1575
row number 67 out of 1575
row number 68 out of 1575
row number 69 out of 1575
row number 70 out of 1575
row number 71 out of 1575
row number 72 out of 1575
row number 73 out of 1575
row number 74 out of 1575
row number 75 out of 1575
row number 76 out of 1575
row number 77 out of 1575
row number 78 out of 1575
row number 79 out of 1575
row number 80 out of 1575
row number 81 out of 1575
row number 82 out of 1575
row number 83 out of 1575
row number 84 out of 1575
row number 85 out of 1575
row number 86 out of 1575
row number 87 out of 1575
row number 88 out of 1575
row number 89 out of 1575
row number 90 out of 1575
row number 91 out of 1575
row number 92 out of 1575
row number 93 out of 1575
row number 94 out of 1575
row number 95 out of 1575
row number 96 out of 1575
row number 97 out of 1575
row number 98 out of 1575
row number 99 out of 1575
row number 100 out of 1575
row number 101 out of 1575
row number 102 out of 1575
row number 103 out of 1575
row number 104 out of 1575
row number 105 out of 1575
row number 106 out of 1575
row number 107 out of 1575
row number 108 out of 1575
row number 109 out of 1575
row number 110 out of 1575
row number 111 out of 1575
row number 112 out of 1575
row number 113 out of 1575
row number 114 out of 1575
row number 115 out of 1575
row number 116 out of 1575
row number 117 out of 1575
row number 118 out of 1575
row number 119 out of 1575
row number 120 out of 1575
row number 121 out of 1575
row number 122 out of 1575
row number 123 out of 1575
row number 124 out of 1575
row number 125 out of 1575
row number 126 out of 1575
row number 127 out of 1575
row number 128 out of 1575
row number 129 out of 1575
row number 130 out of 1575
row number 131 out of 1575
row number 132 out of 1575
row number 133 out of 1575
row number 134 out of 1575
row number 135 out of 1575
row number 136 out of 1575
row number 137 out of 1575
row number 138 out of 1575
row number 139 out of 1575
row number 140 out of 1575
row number 141 out of 1575
row number 142 out of 1575
row number 143 out of 1575
row number 144 out of 1575
row number 145 out of 1575
row number 146 out of 1575
row number 147 out of 1575
row number 148 out of 1575
row number 149 out of 1575
row number 150 out of 1575
row number 151 out of 1575
row number 152 out of 1575
row number 153 out of 1575
row number 154 out of 1575
row number 155 out of 1575
row number 156 out of 1575
row number 157 out of 1575
row number 158 out of 1575
row number 159 out of 1575
row number 160 out of 1575
row number 161 out of 1575
row number 162 out of 1575
row number 163 out of 1575
row number 164 out of 1575
row number 165 out of 1575
row number 166 out of 1575
row number 167 out of 1575
row number 168 out of 1575
row number 169 out of 1575
row number 170 out of 1575
row number 171 out of 1575
row number 172 out of 1575
row number 173 out of 1575
row number 174 out of 1575
row number 175 out of 1575
row number 176 out of 1575
row number 177 out of 1575
row number 178 out of 1575
row number 179 out of 1575
row number 180 out of 1575
row number 181 out of 1575
row number 182 out of 1575
row number 183 out of 1575
row number 184 out of 1575
row number 185 out of 1575
row number 186 out of 1575
row number 187 out of 1575
row number 188 out of 1575
row number 189 out of 1575
row number 190 out of 1575
row number 191 out of 1575
row number 192 out of 1575
row number 193 out of 1575
row number 194 out of 1575
row number 195 out of 1575
row number 196 out of 1575
row number 197 out of 1575
row number 198 out of 1575
row number 199 out of 1575
row number 200 out of 1575
row number 201 out of 1575
row number 202 out of 1575
row number 203 out of 1575
row number 204 out of 1575
row number 205 out of 1575
row number 206 out of 1575
row number 207 out of 1575
row number 208 out of 1575
row number 209 out of 1575
row number 210 out of 1575
row number 211 out of 1575
row number 212 out of 1575
row number 213 out of 1575
row number 214 out of 1575
row number 215 out of 1575
row number 216 out of 1575
row number 217 out of 1575
row number 218 out of 1575
row number 219 out of 1575
row number 220 out of 1575
row number 221 out of 1575
row number 222 out of 1575
row number 223 out of 1575
row number 224 out of 1575
row number 225 out of 1575
row number 226 out of 1575
row number 227 out of 1575
row number 228 out of 1575
row number 229 out of 1575
row number 230 out of 1575
row number 231 out of 1575
row number 232 out of 1575
row number 233 out of 1575
row number 234 out of 1575
row number 235 out of 1575
row number 236 out of 1575
row number 237 out of 1575
row number 238 out of 1575
row number 239 out of 1575
row number 240 out of 1575
row number 241 out of 1575
row number 242 out of 1575
row number 243 out of 1575
row number 244 out of 1575
row number 245 out of 1575
row number 246 out of 1575
row number 247 out of 1575
row number 248 out of 1575
row number 249 out of 1575
row number 250 out of 1575
row number 251 out of 1575
row number 252 out of 1575
row number 253 out of 1575
row number 254 out of 1575
row number 255 out of 1575
row number 256 out of 1575
row number 257 out of 1575
row number 258 out of 1575
row number 259 out of 1575
row number 260 out of 1575
row number 261 out of 1575
row number 262 out of 1575
row number 263 out of 1575
row number 264 out of 1575
row number 265 out of 1575
row number 266 out of 1575
row number 267 out of 1575
row number 268 out of 1575
row number 269 out of 1575
row number 270 out of 1575
row number 271 out of 1575
row number 272 out of 1575
row number 273 out of 1575
row number 274 out of 1575
row number 275 out of 1575
row number 276 out of 1575
row number 277 out of 1575
row number 278 out of 1575
row number 279 out of 1575
row number 280 out of 1575
row number 281 out of 1575
row number 282 out of 1575
row number 283 out of 1575
row number 284 out of 1575
row number 285 out of 1575
row number 286 out of 1575
row number 287 out of 1575
row number 288 out of 1575
row number 289 out of 1575
row number 290 out of 1575
row number 291 out of 1575
row number 292 out of 1575
row number 293 out of 1575
row number 294 out of 1575
row number 295 out of 1575
row number 296 out of 1575
row number 297 out of 1575
row number 298 out of 1575
row number 299 out of 1575
row number 300 out of 1575
row number 301 out of 1575
row number 302 out of 1575
row number 303 out of 1575
row number 304 out of 1575
row number 305 out of 1575
row number 306 out of 1575
row number 307 out of 1575
row number 308 out of 1575
row number 309 out of 1575
row number 310 out of 1575
row number 311 out of 1575
row number 312 out of 1575
row number 313 out of 1575
row number 314 out of 1575
row number 315 out of 1575
row number 316 out of 1575
row number 317 out of 1575
row number 318 out of 1575
row number 319 out of 1575
row number 320 out of 1575
row number 321 out of 1575
row number 322 out of 1575
row number 323 out of 1575
row number 324 out of 1575
row number 325 out of 1575
row number 326 out of 1575
row number 327 out of 1575
row number 328 out of 1575
row number 329 out of 1575
row number 330 out of 1575
row number 331 out of 1575
row number 332 out of 1575
row number 333 out of 1575
row number 334 out of 1575
row number 335 out of 1575
row number 336 out of 1575
row number 337 out of 1575
row number 338 out of 1575
row number 339 out of 1575
row number 340 out of 1575
row number 341 out of 1575
row number 342 out of 1575
row number 343 out of 1575
row number 344 out of 1575
row number 345 out of 1575
row number 346 out of 1575
row number 347 out of 1575
row number 348 out of 1575
row number 349 out of 1575
row number 350 out of 1575
row number 351 out of 1575
row number 352 out of 1575
row number 353 out of 1575
row number 354 out of 1575
row number 355 out of 1575
row number 356 out of 1575
row number 357 out of 1575
row number 358 out of 1575
row number 359 out of 1575
row number 360 out of 1575
row number 361 out of 1575
row number 362 out of 1575
row number 363 out of 1575
row number 364 out of 1575
row number 365 out of 1575
row number 366 out of 1575
row number 367 out of 1575
row number 368 out of 1575
row number 369 out of 1575
row number 370 out of 1575
row number 371 out of 1575
row number 372 out of 1575
row number 373 out of 1575
row number 374 out of 1575
row number 375 out of 1575
row number 376 out of 1575
row number 377 out of 1575
row number 378 out of 1575
row number 379 out of 1575
row number 380 out of 1575
row number 381 out of 1575
row number 382 out of 1575
row number 383 out of 1575
row number 384 out of 1575
row number 385 out of 1575
row number 386 out of 1575
row number 387 out of 1575
row number 388 out of 1575
row number 389 out of 1575
row number 390 out of 1575
row number 391 out of 1575
row number 392 out of 1575
row number 393 out of 1575
row number 394 out of 1575
row number 395 out of 1575
row number 396 out of 1575
row number 397 out of 1575
row number 398 out of 1575
row number 399 out of 1575
row number 400 out of 1575
row number 401 out of 1575
row number 402 out of 1575
row number 403 out of 1575
row number 404 out of 1575
row number 405 out of 1575
row number 406 out of 1575
row number 407 out of 1575
row number 408 out of 1575
row number 409 out of 1575
row number 410 out of 1575
row number 411 out of 1575
row number 412 out of 1575
row number 413 out of 1575
row number 414 out of 1575
row number 415 out of 1575
row number 416 out of 1575
row number 417 out of 1575
row number 418 out of 1575
row number 419 out of 1575
row number 420 out of 1575
row number 421 out of 1575
row number 422 out of 1575
row number 423 out of 1575
row number 424 out of 1575
row number 425 out of 1575
row number 426 out of 1575
row number 427 out of 1575
row number 428 out of 1575
row number 429 out of 1575
row number 430 out of 1575
row number 431 out of 1575
row number 432 out of 1575
row number 433 out of 1575
row number 434 out of 1575
row number 435 out of 1575
row number 436 out of 1575
row number 437 out of 1575
row number 438 out of 1575
row number 439 out of 1575
row number 440 out of 1575
row number 441 out of 1575
row number 442 out of 1575
row number 443 out of 1575
row number 444 out of 1575
row number 445 out of 1575
row number 446 out of 1575
row number 447 out of 1575
row number 448 out of 1575
row number 449 out of 1575
row number 450 out of 1575
row number 451 out of 1575
row number 452 out of 1575
row number 453 out of 1575
row number 454 out of 1575
row number 455 out of 1575
row number 456 out of 1575
row number 457 out of 1575
row number 458 out of 1575
row number 459 out of 1575
row number 460 out of 1575
row number 461 out of 1575
row number 462 out of 1575
row number 463 out of 1575
row number 464 out of 1575
row number 465 out of 1575
row number 466 out of 1575
row number 467 out of 1575
row number 468 out of 1575
row number 469 out of 1575
row number 470 out of 1575
row number 471 out of 1575
row number 472 out of 1575
row number 473 out of 1575
row number 474 out of 1575
row number 475 out of 1575
row number 476 out of 1575
row number 477 out of 1575
row number 478 out of 1575
row number 479 out of 1575
row number 480 out of 1575
row number 481 out of 1575
row number 482 out of 1575
row number 483 out of 1575
row number 484 out of 1575
row number 485 out of 1575
row number 486 out of 1575
row number 487 out of 1575
row number 488 out of 1575
row number 489 out of 1575
row number 490 out of 1575
row number 491 out of 1575
row number 492 out of 1575
row number 493 out of 1575
row number 494 out of 1575
row number 495 out of 1575
row number 496 out of 1575
row number 497 out of 1575
row number 498 out of 1575
row number 499 out of 1575
row number 500 out of 1575
row number 501 out of 1575
row number 502 out of 1575
row number 503 out of 1575
row number 504 out of 1575
row number 505 out of 1575
row number 506 out of 1575
row number 507 out of 1575
row number 508 out of 1575
row number 509 out of 1575
row number 510 out of 1575
row number 511 out of 1575
row number 512 out of 1575
row number 513 out of 1575
row number 514 out of 1575
row number 515 out of 1575
row number 516 out of 1575
row number 517 out of 1575
row number 518 out of 1575
row number 519 out of 1575
row number 520 out of 1575
row number 521 out of 1575
row number 522 out of 1575
row number 523 out of 1575
row number 524 out of 1575
row number 525 out of 1575
row number 526 out of 1575
row number 527 out of 1575
row number 528 out of 1575
row number 529 out of 1575
row number 530 out of 1575
row number 531 out of 1575
row number 532 out of 1575
row number 533 out of 1575
row number 534 out of 1575
row number 535 out of 1575
row number 536 out of 1575
row number 537 out of 1575
row number 538 out of 1575
row number 539 out of 1575
row number 540 out of 1575
row number 541 out of 1575
row number 542 out of 1575
row number 543 out of 1575
row number 544 out of 1575
row number 545 out of 1575
row number 546 out of 1575
row number 547 out of 1575
row number 548 out of 1575
row number 549 out of 1575
row number 550 out of 1575
row number 551 out of 1575
row number 552 out of 1575
row number 553 out of 1575
row number 554 out of 1575
row number 555 out of 1575
row number 556 out of 1575
row number 557 out of 1575
row number 558 out of 1575
row number 559 out of 1575
row number 560 out of 1575
row number 561 out of 1575
row number 562 out of 1575
row number 563 out of 1575
row number 564 out of 1575
row number 565 out of 1575
row number 566 out of 1575
row number 567 out of 1575
row number 568 out of 1575
row number 569 out of 1575
row number 570 out of 1575
row number 571 out of 1575
row number 572 out of 1575
row number 573 out of 1575
row number 574 out of 1575
row number 575 out of 1575
row number 576 out of 1575
row number 577 out of 1575
row number 578 out of 1575
row number 579 out of 1575
row number 580 out of 1575
row number 581 out of 1575
row number 582 out of 1575
row number 583 out of 1575
row number 584 out of 1575
row number 585 out of 1575
row number 586 out of 1575
row number 587 out of 1575
row number 588 out of 1575
row number 589 out of 1575
row number 590 out of 1575
row number 591 out of 1575
row number 592 out of 1575
row number 593 out of 1575
row number 594 out of 1575
row number 595 out of 1575
row number 596 out of 1575
row number 597 out of 1575
row number 598 out of 1575
row number 599 out of 1575
row number 600 out of 1575
row number 601 out of 1575
row number 602 out of 1575
row number 603 out of 1575
row number 604 out of 1575
row number 605 out of 1575
row number 606 out of 1575
row number 607 out of 1575
row number 608 out of 1575
row number 609 out of 1575
row number 610 out of 1575
row number 611 out of 1575
row number 612 out of 1575
row number 613 out of 1575
row number 614 out of 1575
row number 615 out of 1575
row number 616 out of 1575
row number 617 out of 1575
row number 618 out of 1575
row number 619 out of 1575
row number 620 out of 1575
row number 621 out of 1575
row number 622 out of 1575
row number 623 out of 1575
row number 624 out of 1575
row number 625 out of 1575
row number 626 out of 1575
row number 627 out of 1575
row number 628 out of 1575
row number 629 out of 1575
row number 630 out of 1575
row number 631 out of 1575
row number 632 out of 1575
row number 633 out of 1575
row number 634 out of 1575
row number 635 out of 1575
row number 636 out of 1575
row number 637 out of 1575
row number 638 out of 1575
row number 639 out of 1575
row number 640 out of 1575
row number 641 out of 1575
row number 642 out of 1575
row number 643 out of 1575
row number 644 out of 1575
row number 645 out of 1575
row number 646 out of 1575
row number 647 out of 1575
row number 648 out of 1575
row number 649 out of 1575
row number 650 out of 1575
row number 651 out of 1575
row number 652 out of 1575
row number 653 out of 1575
row number 654 out of 1575
row number 655 out of 1575
row number 656 out of 1575
row number 657 out of 1575
row number 658 out of 1575
row number 659 out of 1575
row number 660 out of 1575
row number 661 out of 1575
row number 662 out of 1575
row number 663 out of 1575
row number 664 out of 1575
row number 665 out of 1575
row number 666 out of 1575
row number 667 out of 1575
row number 668 out of 1575
row number 669 out of 1575
row number 670 out of 1575
row number 671 out of 1575
row number 672 out of 1575
row number 673 out of 1575
row number 674 out of 1575
row number 675 out of 1575
row number 676 out of 1575
row number 677 out of 1575
row number 678 out of 1575
row number 679 out of 1575
row number 680 out of 1575
row number 681 out of 1575
row number 682 out of 1575
row number 683 out of 1575
row number 684 out of 1575
row number 685 out of 1575
row number 686 out of 1575
row number 687 out of 1575
row number 688 out of 1575
row number 689 out of 1575
row number 690 out of 1575
row number 691 out of 1575
row number 692 out of 1575
row number 693 out of 1575
row number 694 out of 1575
row number 695 out of 1575
row number 696 out of 1575
row number 697 out of 1575
row number 698 out of 1575
row number 699 out of 1575
row number 700 out of 1575
row number 701 out of 1575
row number 702 out of 1575
row number 703 out of 1575
row number 704 out of 1575
row number 705 out of 1575
row number 706 out of 1575
row number 707 out of 1575
row number 708 out of 1575
row number 709 out of 1575
row number 710 out of 1575
row number 711 out of 1575
row number 712 out of 1575
row number 713 out of 1575
row number 714 out of 1575
row number 715 out of 1575
row number 716 out of 1575
row number 717 out of 1575
row number 718 out of 1575
row number 719 out of 1575
row number 720 out of 1575
row number 721 out of 1575
row number 722 out of 1575
row number 723 out of 1575
row number 724 out of 1575
row number 725 out of 1575
row number 726 out of 1575
row number 727 out of 1575
row number 728 out of 1575
row number 729 out of 1575
row number 730 out of 1575
row number 731 out of 1575
row number 732 out of 1575
row number 733 out of 1575
row number 734 out of 1575
row number 735 out of 1575
row number 736 out of 1575
row number 737 out of 1575
row number 738 out of 1575
row number 739 out of 1575
row number 740 out of 1575
row number 741 out of 1575
row number 742 out of 1575
row number 743 out of 1575
row number 744 out of 1575

<ipython-input-107-2abfd26561b8>:26: VisibleDeprecationWarning: Creating an ndarray from ragged nested sequences (which is a list-or-tuple of lists-or-tuples-or ndarrays with different lengths or shapes) is deprecated. If you meant to do this, you must specify 'dtype=object' when creating the ndarray
  audio_files = np.array(audio_files)

Creating concatenated file

In [108]:
d=np.load('./resources/dataset/Annotations/final/out.npy',allow_pickle=True)

In [114]:
d

array([[array([ 0.31913205,  0.3460799 ,  0.35163427, ..., -0.49027985,
       -0.46531571, -0.44335765]),
        '4600fGWcn9o', 'midfry'],
       [array([-0.32005566, -0.29227193, -0.20947124, ..., -0.12982048,
       -0.12099758, -0.13497355]),
        '4600fGWcn9o', 'midfry'],
       [array([-0.43057039, -0.41286966, -0.35982849, ...,  0.32882168,
        0.43792535,  0.60017701]),
        '4600fGWcn9o', 'midfry'],
       ...,
       [array([-0.31916257, -0.41782891, -0.47126682, ...,  0.33689383,
        0.2145146 ,  0.11767937]),
        '0m5fIHHfJTw', 'midfry'],
       [array([0.2268746 , 0.21448408, 0.21395001, ..., 0.02032533, 0.02066103,
       0.02059999]),
        '0m5fIHHfJTw', 'midfry'],
       [array([0.02169866, 0.02298044, 0.02337718, ..., 0.18567461, 0.17600024,
       0.16212958]),
        '0m5fIHHfJTw', 'midfry']], dtype=object)

In [110]:
d.shape

(1575, 3)

In [112]:
d1=pd.DataFrame(d)

array([ 0.31913205,  0.3460799 ,  0.35163427, ..., -0.49027985,
       -0.46531571, -0.44335765])

In [173]:
librosa.feature.mfcc(d[0][0]).shape

(20, 820)

In [176]:
np.array(mean_mfccs(d[0][0])).shape

(20,)

In [71]:
def mean_mfccs(x):
    return [np.mean(feature) for feature in librosa.feature.mfcc(x)]

In [69]:
df

,file_name,sample_start,sample_end,timestamp_start,timestamp_end,scream_type,video_id,audio,mfccs
0,4600fGWcn9o.wav,1579017,1999183,35.81,45.33,midfry,4600fGWcn9o,[ 0.31913205 0.3460799 0.35163427 ... -0.49...,
1,4600fGWcn9o.wav,2020012,2152867,45.81,48.82,midfry,4600fGWcn9o,[-0.32005566 -0.29227193 -0.20947124 ... -0.12...,
2,4600fGWcn9o.wav,2161887,2486176,49.02,56.38,midfry,4600fGWcn9o,[-0.43057039 -0.41286966 -0.35982849 ... 0.32...,
3,4600fGWcn9o.wav,2488192,2795520,56.42,63.39,clean,4600fGWcn9o,[0.14267403 0.29718925 0.41744743 ... 0.702734...,
4,4600fGWcn9o.wav,2797600,3030794,63.44,68.73,midfry,4600fGWcn9o,[-0.05304117 -0.11307108 -0.08723716 ... 0.06...,
...,...,...,...,...,...,...,...,...,...
1570,0m5fIHHfJTw.wav,6819456,6915072,154.64,156.80,midfry,0m5fIHHfJTw,[ 0.02751244 0.0298471 0.00125126 ... -0.34...,
1571,0m5fIHHfJTw.wav,7056672,7172928,160.02,162.65,midfry,0m5fIHHfJTw,[-0.24770348 -0.30777917 -0.33234657 ... -0.23...,
1572,0m5fIHHfJTw.wav,7264704,7286880,164.73,165.24,midfry,0m5fIHHfJTw,[-0.31916257 -0.41782891 -0.47126682 ... 0.33...,
1573,0m5fIHHfJTw.wav,7789376,8205120,176.63,186.06,midfry,0m5fIHHfJTw,[0.2268746 0.21448408 0.21395001 ... 0.020325...,
1574,0m5fIHHfJTw.wav,8223488,8530272,186.47,193.43,midfry,0m5fIHHfJTw,[0.02169866 0.02298044 0.02337718 ... 0.185674...,

In [130]:
d=np.load('./resources/dataset/Annotations/final/out.npy',allow_pickle=True)
df1=pd.DataFrame(d,columns=['audio','video_id','scream_type'])

df1['mfccs']=''
for i in range(len(df1)):
    df1['mfccs'][i] = mean_mfccs(df1['audio'][i])


df1['zcr']=''
df1['average_zcr']=''
for i in range(len(df)):
    zcr=librosa.feature.zero_crossing_rate(df1['audio'][i])
    df1['zcr'][i] = zcr
    df1['average_zcr'][i] = np.mean(zcr)

In [131]:
df1

,audio,video_id,scream_type,mfccs,zcr,average_zcr
0,"[0.3191320535905026, 0.34607989745780815, 0.35...",4600fGWcn9o,midfry,"[-22.951915178084942, 147.9998225518942, -42.6...","[[0.02490234375, 0.0380859375, 0.04638671875, ...",0.064327
1,"[-0.32005565919447077, -0.29227193492155723, -...",4600fGWcn9o,midfry,"[-28.35545909304096, 144.549112698403, -38.467...","[[0.0205078125, 0.0400390625, 0.046875, 0.0522...",0.055764
2,"[-0.43057039094210636, -0.412869655446028, -0....",4600fGWcn9o,midfry,"[-20.199514020813762, 146.58846360897235, -43....","[[0.0498046875, 0.0546875, 0.05810546875, 0.04...",0.064544
3,"[0.14267403180028687, 0.29718924527726065, 0.4...",4600fGWcn9o,clean,"[-14.670658634010156, 168.33928471014002, -63....","[[0.03173828125, 0.0439453125, 0.064453125, 0....",0.071517
4,"[-0.05304116946928312, -0.1130710776085696, -0...",4600fGWcn9o,midfry,"[-9.732367427497497, 172.67747628214553, -58.6...","[[0.03857421875, 0.06005859375, 0.08740234375,...",0.06845
...,...,...,...,...,...,...
1570,"[0.027512436292611468, 0.029847102267525256, 0...",0m5fIHHfJTw,midfry,"[-34.14331133370637, 167.9931998843823, -45.44...","[[0.0224609375, 0.03369140625, 0.0458984375, 0...",0.055238
1571,"[-0.24770348216193122, -0.3077791680654317, -0...",0m5fIHHfJTw,midfry,"[-32.03566299599044, 162.47606410873925, -45.3...","[[0.02734375, 0.05078125, 0.07470703125, 0.068...",0.054126
1572,"[-0.3191625720999786, -0.41782891323587756, -0...",0m5fIHHfJTw,midfry,"[-2.041026111374771, 158.19804578029135, -43.3...","[[0.0283203125, 0.0419921875, 0.060546875, 0.0...",0.069536
1573,"[0.22687459944456312, 0.21448408459730828, 0.2...",0m5fIHHfJTw,midfry,"[-38.34468935177947, 165.83730795548183, -43.0...","[[0.0185546875, 0.029296875, 0.03759765625, 0....",0.06322
1574,"[0.021698660237434005, 0.022980437635425885, 0...",0m5fIHHfJTw,midfry,"[-47.71218521908444, 179.2101146044231, -38.91...","[[0.0771484375, 0.115234375, 0.1328125, 0.1127...",0.046944

In [132]:
lut = pd.read_csv('./resources/dataset/lookup_new.csv')
lut

,band_name,album_name,song_name,release_year,duration_seconds,video_id,bit_depth,bitrate,channels,sample_rate
0,A Job for a Cowboy,Ruination,Entombment of a Machine,2013,247.520000,nOJHbpijw3o,16,1536000,2,48000
1,Abbath,Abbath,Nebular Ravens Winter,2016,256.696599,QJyTW1-Piwo,16,1411200,2,44100
2,Abbath,Abbath,Ashes Of The Damned,2016,238.097415,K5pMoSECagE,16,1411200,2,44100
3,Abbath,Outstrider,Harvest Pyre,2019,274.088345,T_qa-wNbC4w,16,1411200,2,44100
4,Abbath,Abbath,Winter Bane,2016,409.878640,yLdJSQDmVXw,16,1411200,2,44100
...,...,...,...,...,...,...,...,...,...,...
115,Whitechapel,Our Endless War,The Saw Is the Law,2014,267.656417,rQqgjVAklHQ,16,1411200,2,44100
116,Wintersun,Time I,Sons of Winter and Stars,2012,811.119456,ttoJ-Ro0L04,16,1411200,2,44100
117,Wintersun,Wintersun 2.0,Beautiful Death 2.0,2017,513.207438,TNg-mfVnCWk,16,1411200,2,44100
118,Wintersun,Wintersun 2.0,Starchild 2.0,2017,491.566440,oyuOjCfCsm4,16,1411200,2,44100
119,Wintersun,Time I,Time,2012,704.772063,ebSxxr726_8,16,1411200,2,44100

In [134]:
df2=df1.merge(lut[['band_name','video_id','song_name']], 'inner','video_id')
df2

,audio,video_id,scream_type,mfccs,zcr,average_zcr,band_name,song_name
0,"[0.3191320535905026, 0.34607989745780815, 0.35...",4600fGWcn9o,midfry,"[-22.951915178084942, 147.9998225518942, -42.6...","[[0.02490234375, 0.0380859375, 0.04638671875, ...",0.064327,Textures,Storm Warning
1,"[-0.32005565919447077, -0.29227193492155723, -...",4600fGWcn9o,midfry,"[-28.35545909304096, 144.549112698403, -38.467...","[[0.0205078125, 0.0400390625, 0.046875, 0.0522...",0.055764,Textures,Storm Warning
2,"[-0.43057039094210636, -0.412869655446028, -0....",4600fGWcn9o,midfry,"[-20.199514020813762, 146.58846360897235, -43....","[[0.0498046875, 0.0546875, 0.05810546875, 0.04...",0.064544,Textures,Storm Warning
3,"[0.14267403180028687, 0.29718924527726065, 0.4...",4600fGWcn9o,clean,"[-14.670658634010156, 168.33928471014002, -63....","[[0.03173828125, 0.0439453125, 0.064453125, 0....",0.071517,Textures,Storm Warning
4,"[-0.05304116946928312, -0.1130710776085696, -0...",4600fGWcn9o,midfry,"[-9.732367427497497, 172.67747628214553, -58.6...","[[0.03857421875, 0.06005859375, 0.08740234375,...",0.06845,Textures,Storm Warning
...,...,...,...,...,...,...,...,...
1570,"[0.027512436292611468, 0.029847102267525256, 0...",0m5fIHHfJTw,midfry,"[-34.14331133370637, 167.9931998843823, -45.44...","[[0.0224609375, 0.03369140625, 0.0458984375, 0...",0.055238,Lamb of God,Now You've Got Something to Die For
1571,"[-0.24770348216193122, -0.3077791680654317, -0...",0m5fIHHfJTw,midfry,"[-32.03566299599044, 162.47606410873925, -45.3...","[[0.02734375, 0.05078125, 0.07470703125, 0.068...",0.054126,Lamb of God,Now You've Got Something to Die For
1572,"[-0.3191625720999786, -0.41782891323587756, -0...",0m5fIHHfJTw,midfry,"[-2.041026111374771, 158.19804578029135, -43.3...","[[0.0283203125, 0.0419921875, 0.060546875, 0.0...",0.069536,Lamb of God,Now You've Got Something to Die For
1573,"[0.22687459944456312, 0.21448408459730828, 0.2...",0m5fIHHfJTw,midfry,"[-38.34468935177947, 165.83730795548183, -43.0...","[[0.0185546875, 0.029296875, 0.03759765625, 0....",0.06322,Lamb of God,Now You've Got Something to Die For
1574,"[0.021698660237434005, 0.022980437635425885, 0...",0m5fIHHfJTw,midfry,"[-47.71218521908444, 179.2101146044231, -38.91...","[[0.0771484375, 0.115234375, 0.1328125, 0.1127...",0.046944,Lamb of God,Now You've Got Something to Die For

# Splitting the 20 MFCCs into indididual columns

In [179]:
df2[['mfcc1','mfcc2','mfcc3','mfcc4','mfcc5','mfcc6','mfcc7','mfcc8','mfcc9','mfcc10','mfcc11','mfcc12','mfcc13','mfcc14','mfcc15','mfcc16','mfcc17','mfcc18','mfcc19','mfcc20']] = pd.DataFrame(df2.mfccs.tolist(), index= df2.index)
#df3 = pd.DataFrame(df2['mfccs'].to_list(), columns=['mfcc1','mfcc2','mfcc3','mfcc4','mfcc5','mfcc6','mfcc7','mfcc8','mfcc9','mfcc10','mfcc11','mfcc12','mfcc13','mfcc14','mfcc15','mfcc16','mfcc17','mfcc18','mfcc19','mfcc20'])

In [201]:
df2['scream_type'].unique()

array(['midfry', 'clean', 'highfry', 'lowfry', 'layered'], dtype=object)

## Mapping the scream types into 0-4

In [202]:
df2['scream_type'] = df2['scream_type'].map({'midfry' :0, 'clean' :1, 'highfry' :2,'lowfry' :3, 'layered' :4}).astype(int)

# Creating train-test splits based on band name

In [221]:
from sklearn.model_selection import GroupShuffleSplit
train_inds, test_inds = next(GroupShuffleSplit(test_size=.33, n_splits=2, random_state = 0).split(df2, groups=df2['band_name']))

train = df2.iloc[train_inds]
test = df2.iloc[test_inds]

## Breakout by scream type for each split

In [223]:
train.groupby('scream_type')[['audio']].count()

             audio
scream_type
0              772
1               75
2              105
3               40
4               65

In [224]:
test.groupby('scream_type')[['audio']].count()

             audio
scream_type
0              339
1               90
2               65
3               13
4               11

## Bands present in each split

In [225]:
train['band_name'].unique()

array(['Veil of Maya', 'Gojira', 'Children of Bodom', 'Cannibal Corpse',
       'Behemoth', 'Parkway Drive', "Be'lakor", 'Tesseract', 'Abbath',
       'Opeth', 'Godless', 'Lamb of God', 'Dark Tranquillity',
       'Suicide Silence', 'Ne Obliviscaris', 'Born of Osiris',
       'After The Burial', 'Children Of Bodom', 'Of Mice & Men',
       'Enslaved', 'Ensiferum', 'Suffocation'], dtype=object)

In [226]:
test['band_name'].unique()

array(['Textures', 'Wintersun', 'Rings of Saturn', 'Decapitated',
       'Thy Art Is Murder', 'Death', 'In Flames', 'Immortal',
       'Amon Amarth', 'Nevermore', 'Slayer', 'Slipknot'], dtype=object)

# Converting dataframe to numpy arrays for training

In [227]:
x_train = train[['mfcc1','mfcc2','mfcc3','mfcc4','mfcc5','mfcc6','mfcc7','mfcc8','mfcc9','mfcc10','mfcc11','mfcc12','mfcc13','mfcc14','mfcc15','mfcc16','mfcc17','mfcc18','mfcc19','mfcc20','average_zcr']].to_numpy()
y_train = train[['scream_type']].to_numpy()
x_test = test[['mfcc1','mfcc2','mfcc3','mfcc4','mfcc5','mfcc6','mfcc7','mfcc8','mfcc9','mfcc10','mfcc11','mfcc12','mfcc13','mfcc14','mfcc15','mfcc16','mfcc17','mfcc18','mfcc19','mfcc20','average_zcr']].to_numpy()
y_test = test[['scream_type']].to_numpy()

In [228]:
print(x_train.shape)
print(y_train.shape)
print(x_test.shape)
print(y_test.shape)

(1057, 21)
(1057, 1)
(518, 21)
(518, 1)

# KNN Classifier code

In [229]:
#Importing the required modules
import numpy as np
from scipy.stats import mode
 
#Euclidean Distance
def eucledian(p1,p2):
    dist = np.sqrt(np.sum((p1-p2)**2))
    return dist
 
#Function to calculate KNN
def predict(x_train, y , x_input, k):
    # x_train, y_train, x_input are all arrays containing arrays with input values
    # k is number of nearest neighbours to be included in the voting
    #1) There is no structured method to find the best value for â€œKâ€. We need to find out with various values by trial and error and assuming that training data is unknown.
    #2) Choosing smaller values for K can be noisy and will have a higher influence on the result.
    #3) Larger values of K will have smoother decision boundaries which mean lower variance but increased bias. Also, computationally expensive.
    #4) Another way to choose K is though cross-validation. One way to select the cross-validation dataset from the training dataset. Take the small portion from the training dataset and call it a validation dataset, and then use the same to evaluate different possible values of K. This way we are going to predict the label for every instance in the validation set using with K equals to 1, K equals to 2, K equals to 3.. and then we look at what value of K gives us the best performance on the validation set and then we can take that value and use that as the final setting of our algorithm so we are minimizing the validation error .
    #5) In general, practice, choosing the value of k is k = sqrt(N) where N stands for the number of samples in your training dataset.#
    op_labels = []
     
    #Loop through the Datapoints to be classified
    for item in x_input: 
         
        #Array to store distances
        point_dist = []
         
        #Loop through each training Data
        for j in range(len(x_train)): 
            distances = eucledian(np.array(x_train[j,:]) , item)#distance.euclidean()# 
            #Calculating the distance
            point_dist.append(distances) 
        point_dist = np.array(point_dist) 
         
        #Sorting the array while preserving the index
        #Keeping the first K datapoints
        dist = np.argsort(point_dist)[:k] 
         
        #Labels of the K datapoints from above
        labels = y[dist]
         
        #Majority voting
        lab = mode(labels) 
        lab = lab.mode[0]
        op_labels.append(lab)
 
    return op_labels

# Run KNN

In [230]:
from sklearn.metrics import accuracy_score
from sklearn.datasets import load_iris
from numpy.random import randint
import matplotlib.pyplot as plt
import numpy as np
k = int(np.round(np.sqrt(x_train.shape[0])))

y_pred = predict(x_train,y_train,x_test,k)

#Checking the accuracy
score = accuracy_score(y_test, y_pred)
score

0.637065637065637

In [231]:
from sklearn.metrics import confusion_matrix
cm = confusion_matrix(y_test, y_pred,labels=[0,1,2,3,4]) #'midfry' :0, 'clean' :1, 'highfry' :2,'lowfry' :3, 'layered' :4}
from sklearn.metrics import accuracy_score 
print ("Accuracy : ", accuracy_score(y_test, y_pred))
cm

Accuracy :  0.637065637065637

array([[327,   3,   8,   0,   1],
       [ 89,   1,   0,   0,   0],
       [ 61,   2,   2,   0,   0],
       [ 13,   0,   0,   0,   0],
       [ 10,   0,   1,   0,   0]])

In [2]:
!pip install spleeter

DEPRECATION: Configuring installation scheme with distutils config files is deprecated and will no longer work in the near future. If you are using a Homebrew or Linuxbrew Python, please see discussion at https://github.com/Homebrew/homebrew-core/issues/76621
Collecting spleeter
  Using cached spleeter-2.3.0-py3-none-any.whl (51 kB)
Requirement already satisfied: typer<0.4.0,>=0.3.2 in /usr/local/lib/python3.9/site-packages (from spleeter) (0.3.2)
Requirement already satisfied: ffmpeg-python==0.2.0 in /usr/local/lib/python3.9/site-packages (from spleeter) (0.2.0)
Requirement already satisfied: numpy<1.20.0,>=1.16.0 in /usr/local/lib/python3.9/site-packages (from spleeter) (1.19.5)
Requirement already satisfied: pandas<2.0.0,>=1.1.2 in /usr/local/lib/python3.9/site-packages (from spleeter) (1.2.4)
Collecting librosa==0.8.0
  Using cached librosa-0.8.0-py3-none-any.whl
Requirement already satisfied: httpx[http2]<0.20.0,>=0.19.0 in /usr/local/lib/python3.9/site-packages (from spleeter) (0.19.0)
Collecting llvmlite<0.37.0,>=0.36.0
  Using cached llvmlite-0.36.0-cp39-cp39-macosx_10_9_x86_64.whl (18.5 MB)
Collecting norbert==0.2.1
  Using cached norbert-0.2.1-py2.py3-none-any.whl (11 kB)
Collecting tensorflow==2.5.0
  Using cached tensorflow-2.5.0-cp39-cp39-macosx_10_11_x86_64.whl (195.7 MB)
Requirement already satisfied: future in /usr/local/lib/python3.9/site-packages (from ffmpeg-python==0.2.0->spleeter) (0.18.2)
Requirement already satisfied: scikit-learn!=0.19.0,>=0.14.0 in /usr/local/lib/python3.9/site-packages (from librosa==0.8.0->spleeter) (0.24.2)
Requirement already satisfied: joblib>=0.14 in /usr/local/lib/python3.9/site-packages (from librosa==0.8.0->spleeter) (1.0.1)
Requirement already satisfied: pooch>=1.0 in /usr/local/lib/python3.9/site-packages (from librosa==0.8.0->spleeter) (1.5.1)
Requirement already satisfied: soundfile>=0.9.0 in /usr/local/lib/python3.9/site-packages (from librosa==0.8.0->spleeter) (0.10.3.post1)
Requirement already satisfied: resampy>=0.2.2 in /usr/local/lib/python3.9/site-packages (from librosa==0.8.0->spleeter) (0.2.2)
Requirement already satisfied: audioread>=2.0.0 in /usr/local/lib/python3.9/site-packages (from librosa==0.8.0->spleeter) (2.1.9)
Requirement already satisfied: numba>=0.43.0 in /usr/local/lib/python3.9/site-packages (from librosa==0.8.0->spleeter) (0.54.0)
Requirement already satisfied: decorator>=3.0.0 in /Users/vedant/Library/Python/3.9/lib/python/site-packages (from librosa==0.8.0->spleeter) (5.0.7)
Requirement already satisfied: scipy>=1.0.0 in /usr/local/lib/python3.9/site-packages (from librosa==0.8.0->spleeter) (1.7.1)
Requirement already satisfied: wrapt~=1.12.1 in /usr/local/lib/python3.9/site-packages (from tensorflow==2.5.0->spleeter) (1.12.1)
Requirement already satisfied: wheel~=0.35 in /usr/local/lib/python3.9/site-packages (from tensorflow==2.5.0->spleeter) (0.37.0)
Requirement already satisfied: absl-py~=0.10 in /usr/local/lib/python3.9/site-packages (from tensorflow==2.5.0->spleeter) (0.13.0)
Requirement already satisfied: opt-einsum~=3.3.0 in /usr/local/lib/python3.9/site-packages (from tensorflow==2.5.0->spleeter) (3.3.0)
Requirement already satisfied: google-pasta~=0.2 in /usr/local/lib/python3.9/site-packages (from tensorflow==2.5.0->spleeter) (0.2.0)
Collecting tensorflow-estimator<2.6.0,>=2.5.0rc0
  Using cached tensorflow_estimator-2.5.0-py2.py3-none-any.whl (462 kB)
Requirement already satisfied: six~=1.15.0 in /Users/vedant/Library/Python/3.9/lib/python/site-packages (from tensorflow==2.5.0->spleeter) (1.15.0)
Requirement already satisfied: h5py~=3.1.0 in /usr/local/lib/python3.9/site-packages (from tensorflow==2.5.0->spleeter) (3.1.0)
Requirement already satisfied: termcolor~=1.1.0 in /usr/local/lib/python3.9/site-packages (from tensorflow==2.5.0->spleeter) (1.1.0)
Requirement already satisfied: gast==0.4.0 in /usr/local/lib/python3.9/site-packages (from tensorflow==2.5.0->spleeter) (0.4.0)
Collecting typing-extensions~=3.7.4
  Using cached typing_extensions-3.7.4.3-py3-none-any.whl (22 kB)
Requirement already satisfied: keras-preprocessing~=1.1.2 in /usr/local/lib/python3.9/site-packages (from tensorflow==2.5.0->spleeter) (1.1.2)
Requirement already satisfied: astunparse~=1.6.3 in /usr/local/lib/python3.9/site-packages (from tensorflow==2.5.0->spleeter) (1.6.3)
Collecting grpcio~=1.34.0
  Using cached grpcio-1.34.1-cp39-cp39-macosx_10_10_x86_64.whl (3.7 MB)
Requirement already satisfied: tensorboard~=2.5 in /usr/local/lib/python3.9/site-packages (from tensorflow==2.5.0->spleeter) (2.6.0)
Collecting keras-nightly~=2.5.0.dev
  Using cached keras_nightly-2.5.0.dev2021032900-py2.py3-none-any.whl (1.2 MB)
Requirement already satisfied: protobuf>=3.9.2 in /usr/local/lib/python3.9/site-packages (from tensorflow==2.5.0->spleeter) (3.15.8)
Requirement already satisfied: flatbuffers~=1.12.0 in /usr/local/lib/python3.9/site-packages (from tensorflow==2.5.0->spleeter) (1.12)
Requirement already satisfied: charset-normalizer in /usr/local/lib/python3.9/site-packages (from httpx[http2]<0.20.0,>=0.19.0->spleeter) (2.0.6)
Requirement already satisfied: sniffio in /usr/local/lib/python3.9/site-packages (from httpx[http2]<0.20.0,>=0.19.0->spleeter) (1.2.0)
Requirement already satisfied: rfc3986[idna2008]<2,>=1.3 in /usr/local/lib/python3.9/site-packages (from httpx[http2]<0.20.0,>=0.19.0->spleeter) (1.5.0)
Requirement already satisfied: certifi in /usr/local/lib/python3.9/site-packages (from httpx[http2]<0.20.0,>=0.19.0->spleeter) (2020.12.5)
Requirement already satisfied: httpcore<0.14.0,>=0.13.3 in /usr/local/lib/python3.9/site-packages (from httpx[http2]<0.20.0,>=0.19.0->spleeter) (0.13.7)
Collecting h2<5,>=3
  Using cached h2-4.1.0-py3-none-any.whl (57 kB)
Collecting hpack<5,>=4.0
  Using cached hpack-4.0.0-py3-none-any.whl (32 kB)
Collecting hyperframe<7,>=6.0
  Using cached hyperframe-6.0.1-py3-none-any.whl (12 kB)
Requirement already satisfied: h11<0.13,>=0.11 in /usr/local/lib/python3.9/site-packages (from httpcore<0.14.0,>=0.13.3->httpx[http2]<0.20.0,>=0.19.0->spleeter) (0.12.0)
Requirement already satisfied: anyio==3.* in /usr/local/lib/python3.9/site-packages (from httpcore<0.14.0,>=0.13.3->httpx[http2]<0.20.0,>=0.19.0->spleeter) (3.3.1)
Requirement already satisfied: idna>=2.8 in /usr/local/lib/python3.9/site-packages (from anyio==3.*->httpcore<0.14.0,>=0.13.3->httpx[http2]<0.20.0,>=0.19.0->spleeter) (2.10)
Collecting numba>=0.43.0
  Using cached numba-0.54.1-cp39-cp39-macosx_10_14_x86_64.whl (2.3 MB)
  Using cached numba-0.53.1-cp39-cp39-macosx_10_14_x86_64.whl (2.2 MB)
Requirement already satisfied: setuptools in /usr/local/lib/python3.9/site-packages (from numba>=0.43.0->librosa==0.8.0->spleeter) (57.4.0)
Requirement already satisfied: pytz>=2017.3 in /usr/local/lib/python3.9/site-packages (from pandas<2.0.0,>=1.1.2->spleeter) (2021.1)
Requirement already satisfied: python-dateutil>=2.7.3 in /Users/vedant/Library/Python/3.9/lib/python/site-packages (from pandas<2.0.0,>=1.1.2->spleeter) (2.8.1)
Requirement already satisfied: appdirs in /usr/local/lib/python3.9/site-packages (from pooch>=1.0->librosa==0.8.0->spleeter) (1.4.4)
Requirement already satisfied: requests in /usr/local/lib/python3.9/site-packages (from pooch>=1.0->librosa==0.8.0->spleeter) (2.25.1)
Requirement already satisfied: packaging in /usr/local/lib/python3.9/site-packages (from pooch>=1.0->librosa==0.8.0->spleeter) (20.9)
Requirement already satisfied: threadpoolctl>=2.0.0 in /usr/local/lib/python3.9/site-packages (from scikit-learn!=0.19.0,>=0.14.0->librosa==0.8.0->spleeter) (2.2.0)
Requirement already satisfied: cffi>=1.0 in /usr/local/lib/python3.9/site-packages (from soundfile>=0.9.0->librosa==0.8.0->spleeter) (1.14.5)
Requirement already satisfied: pycparser in /usr/local/lib/python3.9/site-packages (from cffi>=1.0->soundfile>=0.9.0->librosa==0.8.0->spleeter) (2.20)
Requirement already satisfied: markdown>=2.6.8 in /usr/local/lib/python3.9/site-packages (from tensorboard~=2.5->tensorflow==2.5.0->spleeter) (3.3.4)
Requirement already satisfied: tensorboard-data-server<0.7.0,>=0.6.0 in /usr/local/lib/python3.9/site-packages (from tensorboard~=2.5->tensorflow==2.5.0->spleeter) (0.6.1)
Requirement already satisfied: werkzeug>=0.11.15 in /usr/local/lib/python3.9/site-packages (from tensorboard~=2.5->tensorflow==2.5.0->spleeter) (2.0.1)
Requirement already satisfied: google-auth-oauthlib<0.5,>=0.4.1 in /usr/local/lib/python3.9/site-packages (from tensorboard~=2.5->tensorflow==2.5.0->spleeter) (0.4.4)
Requirement already satisfied: google-auth<2,>=1.6.3 in /usr/local/lib/python3.9/site-packages (from tensorboard~=2.5->tensorflow==2.5.0->spleeter) (1.30.0)
Requirement already satisfied: tensorboard-plugin-wit>=1.6.0 in /usr/local/lib/python3.9/site-packages (from tensorboard~=2.5->tensorflow==2.5.0->spleeter) (1.8.0)
Requirement already satisfied: rsa<5,>=3.1.4 in /usr/local/lib/python3.9/site-packages (from google-auth<2,>=1.6.3->tensorboard~=2.5->tensorflow==2.5.0->spleeter) (4.7.2)
Requirement already satisfied: cachetools<5.0,>=2.0.0 in /usr/local/lib/python3.9/site-packages (from google-auth<2,>=1.6.3->tensorboard~=2.5->tensorflow==2.5.0->spleeter) (4.2.2)
Requirement already satisfied: pyasn1-modules>=0.2.1 in /usr/local/lib/python3.9/site-packages (from google-auth<2,>=1.6.3->tensorboard~=2.5->tensorflow==2.5.0->spleeter) (0.2.8)
Requirement already satisfied: requests-oauthlib>=0.7.0 in /usr/local/lib/python3.9/site-packages (from google-auth-oauthlib<0.5,>=0.4.1->tensorboard~=2.5->tensorflow==2.5.0->spleeter) (1.3.0)
Requirement already satisfied: pyasn1<0.5.0,>=0.4.6 in /usr/local/lib/python3.9/site-packages (from pyasn1-modules>=0.2.1->google-auth<2,>=1.6.3->tensorboard~=2.5->tensorflow==2.5.0->spleeter) (0.4.8)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in /usr/local/lib/python3.9/site-packages (from requests->pooch>=1.0->librosa==0.8.0->spleeter) (1.26.4)
Requirement already satisfied: chardet<5,>=3.0.2 in /usr/local/lib/python3.9/site-packages (from requests->pooch>=1.0->librosa==0.8.0->spleeter) (4.0.0)
Requirement already satisfied: oauthlib>=3.0.0 in /usr/local/lib/python3.9/site-packages (from requests-oauthlib>=0.7.0->google-auth-oauthlib<0.5,>=0.4.1->tensorboard~=2.5->tensorflow==2.5.0->spleeter) (3.1.0)
Collecting click<7.2.0,>=7.1.1
  Using cached click-7.1.2-py2.py3-none-any.whl (82 kB)
Requirement already satisfied: pyparsing>=2.0.2 in /usr/local/lib/python3.9/site-packages (from packaging->pooch>=1.0->librosa==0.8.0->spleeter) (2.4.7)
Installing collected packages: llvmlite, numba, hyperframe, hpack, grpcio, typing-extensions, tensorflow-estimator, keras-nightly, h2, click, tensorflow, norbert, librosa, spleeter
  Attempting uninstall: llvmlite
    Found existing installation: llvmlite 0.37.0
    Uninstalling llvmlite-0.37.0:
      Successfully uninstalled llvmlite-0.37.0
  Attempting uninstall: numba
    Found existing installation: numba 0.54.0
    Uninstalling numba-0.54.0:
      Successfully uninstalled numba-0.54.0
  DEPRECATION: Configuring installation scheme with distutils config files is deprecated and will no longer work in the near future. If you are using a Homebrew or Linuxbrew Python, please see discussion at https://github.com/Homebrew/homebrew-core/issues/76621
  DEPRECATION: Configuring installation scheme with distutils config files is deprecated and will no longer work in the near future. If you are using a Homebrew or Linuxbrew Python, please see discussion at https://github.com/Homebrew/homebrew-core/issues/76621
  DEPRECATION: Configuring installation scheme with distutils config files is deprecated and will no longer work in the near future. If you are using a Homebrew or Linuxbrew Python, please see discussion at https://github.com/Homebrew/homebrew-core/issues/76621
  Attempting uninstall: grpcio
    Found existing installation: grpcio 1.38.1
    Uninstalling grpcio-1.38.1:
      Successfully uninstalled grpcio-1.38.1
  DEPRECATION: Configuring installation scheme with distutils config files is deprecated and will no longer work in the near future. If you are using a Homebrew or Linuxbrew Python, please see discussion at https://github.com/Homebrew/homebrew-core/issues/76621
  Attempting uninstall: typing-extensions
    Found existing installation: typing-extensions 3.10.0.2
    Uninstalling typing-extensions-3.10.0.2:
      Successfully uninstalled typing-extensions-3.10.0.2
  DEPRECATION: Configuring installation scheme with distutils config files is deprecated and will no longer work in the near future. If you are using a Homebrew or Linuxbrew Python, please see discussion at https://github.com/Homebrew/homebrew-core/issues/76621
  Attempting uninstall: tensorflow-estimator
    Found existing installation: tensorflow-estimator 2.6.0
    Uninstalling tensorflow-estimator-2.6.0:
      Successfully uninstalled tensorflow-estimator-2.6.0
  DEPRECATION: Configuring installation scheme with distutils config files is deprecated and will no longer work in the near future. If you are using a Homebrew or Linuxbrew Python, please see discussion at https://github.com/Homebrew/homebrew-core/issues/76621
  DEPRECATION: Configuring installation scheme with distutils config files is deprecated and will no longer work in the near future. If you are using a Homebrew or Linuxbrew Python, please see discussion at https://github.com/Homebrew/homebrew-core/issues/76621
  DEPRECATION: Configuring installation scheme with distutils config files is deprecated and will no longer work in the near future. If you are using a Homebrew or Linuxbrew Python, please see discussion at https://github.com/Homebrew/homebrew-core/issues/76621
  Attempting uninstall: click
    Found existing installation: click 8.0.3
    Uninstalling click-8.0.3:
      Successfully uninstalled click-8.0.3
  DEPRECATION: Configuring installation scheme with distutils config files is deprecated and will no longer work in the near future. If you are using a Homebrew or Linuxbrew Python, please see discussion at https://github.com/Homebrew/homebrew-core/issues/76621
  Attempting uninstall: tensorflow
    Found existing installation: tensorflow 2.6.0
    Uninstalling tensorflow-2.6.0:
      Successfully uninstalled tensorflow-2.6.0
  DEPRECATION: Configuring installation scheme with distutils config files is deprecated and will no longer work in the near future. If you are using a Homebrew or Linuxbrew Python, please see discussion at https://github.com/Homebrew/homebrew-core/issues/76621
  DEPRECATION: Configuring installation scheme with distutils config files is deprecated and will no longer work in the near future. If you are using a Homebrew or Linuxbrew Python, please see discussion at https://github.com/Homebrew/homebrew-core/issues/76621
  Attempting uninstall: librosa
    Found existing installation: librosa 0.8.1
    Uninstalling librosa-0.8.1:
      Successfully uninstalled librosa-0.8.1
  DEPRECATION: Configuring installation scheme with distutils config files is deprecated and will no longer work in the near future. If you are using a Homebrew or Linuxbrew Python, please see discussion at https://github.com/Homebrew/homebrew-core/issues/76621
  DEPRECATION: Configuring installation scheme with distutils config files is deprecated and will no longer work in the near future. If you are using a Homebrew or Linuxbrew Python, please see discussion at https://github.com/Homebrew/homebrew-core/issues/76621
DEPRECATION: Configuring installation scheme with distutils config files is deprecated and will no longer work in the near future. If you are using a Homebrew or Linuxbrew Python, please see discussion at https://github.com/Homebrew/homebrew-core/issues/76621
ERROR: pip's dependency resolver does not currently take into account all the packages that are installed. This behaviour is the source of the following dependency conflicts.
black 21.9b0 requires typing-extensions>=3.10.0.0, but you have typing-extensions 3.7.4.3 which is incompatible.
Successfully installed click-7.1.2 grpcio-1.34.1 h2-4.1.0 hpack-4.0.0 hyperframe-6.0.1 keras-nightly-2.5.0.dev2021032900 librosa-0.8.0 llvmlite-0.36.0 norbert-0.2.1 numba-0.53.1 spleeter-2.3.0 tensorflow-2.5.0 tensorflow-estimator-2.5.0 typing-extensions-3.7.4.3
WARNING: You are using pip version 21.2.4; however, version 21.3 is available.
You should consider upgrading via the '/usr/local/opt/python@3.9/bin/python3.9 -m pip install --upgrade pip' command.

In [8]:
from spleeter.separator import Separator

# Using embedded configuration.
separator = Separator('spleeter:2stems')

# # Using custom configuration file.
# separator = Separator('/path/to/config.json')

# Use audio loader explicitly for loading audio waveform :
from spleeter.audio.adapter import AudioAdapter

audio_loader = AudioAdapter.default()
sample_rate = 44100
waveform, _ = audio_loader.load('./resources/working_data/-xYZM04JxnQ_original.wav', sample_rate=sample_rate)

# Perform the separation :
prediction = separator.separate(waveform)

INFO:tensorflow:Apply unet for vocals_spectrogram
INFO:tensorflow:Apply unet for accompaniment_spectrogram
INFO:tensorflow:Restoring parameters from pretrained_models/2stems/model

In [9]:
prediction['vocals']

array([[0., 0.],
       [0., 0.],
       [0., 0.],
       ...,
       [0., 0.],
       [0., 0.],
       [0., 0.]], dtype=float32)

In [10]:
import soundfile as sf
sf.write('./resources/working_data/'+'test'+'_vocal.wav', prediction['vocals'], 44100)